
@font-face {
  font-family: 'Open+Sans';
  src: url('https://fonts.googleapis.com/css');

  font-family: 'maiden';
  src: url('./font/maiden.ttf');
}

body {
  font-family: 'Open Sans', sans-serif;
}

h1 {
  font-family: 'maiden';
  font-size: 5rem;
  color: white;
}

.App-header {
  background-color: #282c34;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: red;
}

