
@font-face {
    font-family: 'PostIt';
    src: url('https://fonts.googleapis.com/css?family=Reenie+Beanie');
}

.backgroundDisc{
    background: url("https://stephaneaguileravideaste.boutique/WebRoot/Store9/Shops/bdf3a82d-4a2f-4721-839a-2e256f94830b/588A/3670/1919/8A94/91FE/0A48/351F/5440/disque-vinyls-12-macarons-vierges_ml.jpg")
    no-repeat center top;
    background-size: cover;
    
}



/* Style por l'effet diapo */
.gallery a {
    background: white;
    display: inline;
    float: left;
    margin: 0 15px 30px;
    padding: 10px 10px 10px;
    text-align: center;
    text-decoration: none;
    -webkit-box-shadow: 0 4px 6px rgba(0, 0, 0, .3);
    -moz-box-shadow: 0 4px 6px rgba(0,0,0,.3);
    box-shadow: 0 4px 6px rgba(0,0,0,.3);
    -webkit-transition: all .15s linear;
    -moz-transition: all .15s linear;
    transition: all .15s linear;
    z-index:0;
    font-family: "journal";
}

.gallery a{
   z-index: 1;
   -webkit-transform: rotate(10deg);
   -moz-transform: rotate(10deg);
}

.gallery  a:after {
   color: #333;
       font-size: 30px;
       content: attr(title);
     /*  position: relative;
       top:15px;*/
}
.gallery img {
       display: block;
       width: inherit;
       width: 250px;
       height: auto;
}

.diapositive{
    position: absolute;
    top: 105px;
    right: 85px;
}

.tutu{
    background:red;
}
/*.displayPostIt{ line-height: 1;  
    padding: 25px;  
    text-align:center;     
    width: 275px;    
    margin: 25px;    
    min-height:250px;
    max-height:250px;
    padding-top:35px;
    position:relative;   
    border:1px solid #E8E8E8;  
    border-top:60px solid #fdfd86;
    font-family:'Reenie Beanie';    
    font-size:22px;      
    border-bottom-right-radius: 60px 5px;
    display:inline-block;    
    background: #ffff88; 
   -webkit-transform: rotate(-10deg);
  -moz-transform: rotate(-10deg);

}*/

ul{
    padding: 2%;
    width: 275px;    
background-color: #ffffa5;
box-shadow: 2px 4px 6px #444;
-moz-box-shadow: 2px 4px 6px #444;
-webkit-box-shadow: 2px 4px 6px #444;

border-bottom-right-radius: 60px 10px;
font-family: 'PostIt';


    transform: rotate(2deg);
-moz-transform: rotate(2deg);
-webkit-transform: rotate(2deg);
-o-transform: rotate(2deg);
-ms-transform: rotate(2deg);
}
ul:nth-child(even) {
    transform: rotate(-20deg);
-moz-transform: rotate(-20deg);
-webkit-transform: rotate(-20deg);
-o-transform: rotate(-20deg);
-ms-transform: rotate(-20deg);
    position:relative;
  top:5px;
  background:#cfc;
   
  }